/target/
/romania_2022.dxp
/hom_result_witout_agridelta.csv
/hom_result_without_agridelta.json
/hom_result_witout_agridelta_10_iterations.csv
/hom_result_witout_agridelta_greedy_sol.csv
/romania_2022_without_agridelta_10_iterations.dxp
/romania_2022_without_agridelta_greedy.dxp
